<b>Angular HTTP requests using RxJs Observables!</b>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
      <th>Website</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <table>
          <thead>
            <tr>
              <th>Street</th>
              <th>Suite</th>
              <th>City</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ user.address.street }}</td>
              <td>{{ user.address.suite }}</td>
              <td>{{ user.address.city }}</td>
              <td>{{ user.address.zipcode }}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>{{ user.website }}</td>
      <td>{{ user.phone }}</td>
    </tr>
  </tbody>
</table>
